/src/desktop/bin/
/src/desktop/obj/
/src/desktop/.idea/
/.vs/

src/desktop/steamcito.sln.DotSettings.user
src/desktop/library_games.db
src/desktop/.vs/ProjectEvaluation/
src/desktop/.vs/CopilotSnapshots/AB4D5410E32D5C47A7B7D047BB9A6677/A94F77ACB4C75E488E46CDDA09CB2E03/55E6EB66DDD9A444E7CC093251D402D1
src/desktop/.vs/CopilotSnapshots/
src/desktop/.vs/steamcito/CopilotIndices/
src/desktop/.vs/steamcito.slnx
/.idea
/src/desktop
